<div>
    <div [ngClass]="['grid', gridSize, 'grid-cols-6']">
        <input
            #inputEl
            *ngFor="let input of inputs.controls; let i = index"
            (focus)="handleFocus($event)"
            (blur)="onTouched()"
            (keydown)="handleKeyDown($event, i)"
            (input)="handleInputChange($event, i)"
            (paste)="handlePaste($event)"
            [formControl]="$any(input)"
            class="h-10 w-10 rounded-md border border-border bg-background text-center text-muted-foreground outline-none focus:border-primary sm:h-14 sm:w-14"
            type="text"
            inputmode="numeric"
            maxlength="1" />
    </div>
    <c-error-input [formContained]="inputs" [controlName]="'otp'"></c-error-input>
</div>
